<div ng-controller="ch1">
    <div ui-content-for="title">
        <span class="">选车</span>
    </div>

    <div class="chooseCar_tBox">
        <span ng-class="{1: 'cb_yes', 0: ''}[sel]" ng-click="setType(1)">最贵</span>|
        <span ng-class="{1: '', 0: 'cb_yes'}[sel]" ng-click="setType(0)">最便宜</span>
    </div>


    <div class="scrollable-content ls_pos">
        <div class="carBoxLeft">
            <div>
                <img src="./custom/img/consultation/cars.png" class="imgBg">
                <span>S5</span>
                <span class="fC_2">71.23-99.51万</span>
            </div>

            <div>
                <img src="./custom/img/consultation/cars.png" class="imgBg">
                <span>S5</span>
                <span class="fC_2">71.23-99.51万</span>
            </div>


            <div>
                <img src="./custom/img/consultation/cars.png" class="imgBg">
                <span>S5</span>
                <span class="fC_2">71.23-99.51万</span>
            </div>


            <div>
                <img src="./custom/img/consultation/cars.png" class="imgBg">
                <span>S5</span>
                <span class="fC_2">71.23-99.51万</span>
            </div>

            <div>
                <img src="./custom/img/consultation/cars.png" class="imgBg">
                <span>S5</span>
                <span class="fC_2">71.23-99.51万</span>
            </div>


            <div>
                <img src="./custom/img/consultation/cars.png" class="imgBg">
                <span>S5</span>
                <span class="fC_2">71.23-99.51万</span>
            </div>
            <div>
                <img src="./custom/img/consultation/cars.png" class="imgBg">
                <span>S5</span>
                <span class="fC_2">71.23-99.51万</span>
            </div>


            <div>
                <img src="./custom/img/consultation/cars.png" class="imgBg">
                <span>S5</span>
                <span class="fC_2">71.23-99.51万</span>
            </div>


            <div>
                <img src="./custom/img/consultation/cars.png" class="imgBg">
                <span>S5</span>
                <span class="fC_2">71.23-99.51万</span>
            </div>


            <div>
                <img src="./custom/img/consultation/cars.png" class="imgBg">
                <span>S5</span>
                <span class="fC_2">71.23-99.51万</span>
            </div>

            <div>
                <img src="./custom/img/consultation/cars.png" class="imgBg">
                <span>S5</span>
                <span class="fC_2">71.23-99.51万</span>
            </div>


            <div>
                <img src="./custom/img/consultation/cars.png" class="imgBg">
                <span>S5</span>
                <span class="fC_2">71.23-99.51万</span>
            </div>


        </div>


    </div>

</div>
